body {
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

canvas {
    background: #ffffff;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

#ns-container {
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
}

#ns-container h1 {
    font-size: 4.5em;
}
